.section {
	display: block;
	position: relative;
	box-sizing: border-box;
	composes: pt-25 pl-4 from global;
	height: calc(100vh - 22 * var(--offset-base-size));
	overflow-y: hidden; // включить если нужна прокрутка на маленьком окне
}

.components {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	max-height: calc(168 * var(--offset-base-size));
	min-height: calc(48 * var(--offset-base-size));
	overflow-y: hidden;
}

.info {
	display: flex;
	flex-direction: row;
	composes: mt-10 pr-4 from global;
	position: relative;
	box-sizing: border-box;
	column-gap: calc(10 * var(--offset-base-size));
	height: calc(16 * var(--offset-base-size));
	justify-content: right;
	align-items: center;
}

.total {
	display: flex;
	flex-direction: row;
	composes: text text_type_digits-medium from global;
	column-gap: calc(2 * var(--offset-base-size));
	box-sizing: border-box;
	align-items: center;
}
