.card {
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	border: 1px transparent solid;
	padding: calc(6 * var(--offset-base-size));
	background-color: var(--background);
	border-radius: calc(10 * var(--offset-base-size));
}
.card:hover {
	cursor: pointer;
	border: 1px var(--colors-interface-accent) solid;
}

.card_id {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	width: 100%;
	min-height: calc(6 * var(--offset-base-size));
	justify-content: space-between;
}
.card_id_num {
	composes: text text_type_digits-default from global;
}
.card_id_date {
	composes: text text_type_main-default text_color_inactive from global;
}

.card_name {
	composes: text text_type_main-medium from global;
	composes: mt-6 from global;
	display: block;
	box-sizing: border-box;
	width: 100%;
	min-height: calc(8 * var(--offset-base-size));
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.card_status {
	composes: text text_type_main-default from global;
	composes: mt-2 from global;
	display: block;
	box-sizing: border-box;
	width: 100%;
	min-height: calc(6 * var(--offset-base-size));
}
.card_status_done {
	color: var(--colors-interface-success);
}

.card_summary {
	composes: mt-6 from global;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	width: 100%;
	min-height: calc(16 * var(--offset-base-size));
	justify-content: space-between;
	align-items: center;
}
.card_summary_cost {
	display: flex;
	flex-direction: row;
	composes: text text_type_digits-default from global;
	column-gap: calc(2 * var(--offset-base-size));
	box-sizing: border-box;
	align-items: center;
}
.card_summary_images {
	position: relative;
	height: calc(16 * var(--offset-base-size));
	width: calc(76 * var(--offset-base-size));
	display: block;
	box-sizing: content-box;
	align-items: center;
}
