.win {
	display: block;
	position: relative;
	// flex-direction: column;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden; // включить если нужна прокрутка на маленьком окне
	overflow-y: hidden;
}

.app {
	display: flex;
	position: relative;
	flex-direction: column;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-width: calc(320 * var(--offset-base-size));
}
